{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row gy-5 my-10">
        {% for each in books_to_display %}
        {% if each.send_wish_to == current_user.id %}
        <div class="col-sm-6 col-md-5 col-lg-4">
            <div class="card w-75 p-4 h-100" style="background-color: #ffb385">
                <img src='{{ each.book_wish.img_url }}' class="card-img-top" alt="thumbnail">
                <div class="card-body">
                    <h6 class="card-title"><b> {{each.user_wish.name}} </b> requested this book: </h6>
                    <h5 class="card-title"><b>{{ each.book_wish.title }}</b></h5>
                    <hr>
                    <h6 class="card-title"><b> Author: </b> {{ each.book_wish.book_author }}</h6>
                    <h6 class="card-title"><b> Book Rating: </b> {{ each.book_wish.rating }} ⭐</h6>
                    <h6 class="card-title"><b> Condition: </b> {{ each.book_wish.condition }}</h6>
                    <h6 class="card-title"><b> Available at: </b> {{ each.book_wish.loc }}</h6>
                    <h6 class="card-title"><b> Book Owner: </b> {{ each.book_wish.author.email }}</h6>
                    <hr>
                    <h6 class="card-title"><b> Requested By: </b> {{each.user_wish.name}} </h6>
                    <h6 class="card-title"><b> Contact: </b> {{each.user_wish.email}} </h6>
                    <hr>
                    <a href="{{ url_for('delete_req', req_id=each.id) }}" class="btn btn-danger">Delete</a>
                    <a href="{{ url_for('accept_req', req_id=each.id, user_email=each.user_wish.email, book_id=each.book_wish.id, book_title=each.book_wish.title, book_owner_email=each.book_wish.author.email, book_loc=each.book_wish.loc) }}"
                       class="btn btn-success">Accept</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}