{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row gy-5 my-10">
        {% for book in all_books %}
        <div class="col-sm-6 col-md-5 col-lg-4">
            <div class="card w-75 p-4 h-100" style="background-color: #ffb385">
                <img src='{{ book.img_url }}' class="card-img-top" alt="thumbnail">
                <div class="card-body">
                    <h5 class="card-title"><b>{{ book.title }}</b></h5>
                    <hr>
                    <h6 class="card-title"><b> Author: </b> {{ book.book_author }}</h6>
                    <h6 class="card-title"><b> Book Rating: </b> {{ book.rating }} ⭐</h6>
                    <h6 class="card-title"><b> Condition: </b> {{ book.condition }}</h6>
                    <h6 class="card-title"><b> Available at: </b> {{ book.loc }}</h6>
                    <h6 class="card-title"><b> Book Owner: </b> {{ book.author.email }}</h6>
                    <hr>
                    <p class="card-text"
                       style="overflow: hidden; -webkit-line-clamp: 10; display: -webkit-box; -webkit-box-orient: vertical; ">
                        <b> Description: </b>{{ book.description }}</p>
                    <hr>
                    {% if current_user.id == book.author_id or current_user.id == 1 %}
                    <a href="{{ url_for('delete', book_id=book.id) }}" class="btn btn-danger">Delete</a>
                    <a href="{{ url_for('edit', book_id=book.id) }}" class="btn btn-warning">Edit</a>
                    {% elif current_user.is_authenticated %}
                    <a href="{{ url_for('want', book_id=book.id, current_user_id=current_user.id, user_id=book.author_id) }}"
                       class="btn btn-primary">Want</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}